
<div class="footer">
		<%= link_to "The Education Arts Charity", "http:www.helpteach.org" %>
	<br />
		EIN # 46-3223600
	<br>
		<%= link_to "TEACH is a 501c(3)", "http:www.helpteach.org/about" %>
	<br>
		Hilton Head Island, SC
	<br>
		Copyright &copy; 2013. All Rights Reserved.
	</p>

	<small>
	<p class="socialIcons">
		<%= link_to "RSS", "#" %>
		<%= link_to "Facebook", "#" %>
		<%= link_to "Twitter", "https://twitter.com/TEACHcharity" %>
	</p>
	<p>
		<%= link_to "DONATE", "http:www.helpteach.org/donate" %>
		<%= link_to "About Us", "http:www.helpteach.org/about" %>
		<%= link_to "Privacy Policy", "http:www.helpteach.org/privacy" %>
		<%= link_to "Contact Us", "http:www.helpteach.org/contact" %>
	</p>
	</small>
</div>